@import "global";

.SingleDatePicker {
  position: unset;
}

.SingleDatePicker {
  position: unset;
}

.SingleDatePicker_picker {
  left: 0;
  top: 0;
  position: unset;
}

.SingleDatePicker_picker {
  border: none;
}

.SingleDatePickerInput__withBorder {
  border: none;
}

.DateInput {
  padding-bottom: 20px;
}

.DateInput_input {
  border-radius: 2px;
  border: 1px solid #dbdbdb;
}

.DateInput_input__focused {
  border: 0;
  border-right: 0;
  border-bottom: 2px solid #008489;
  border-left: 0;
  border-top: 0;
}

.DayPickerNavigation {
  right: 44px;
  width: 362px;
}

/* 月を移動するボタンの調整 */
.DayPickerNavigation {
  display: flex;
  justify-content: space-between;
}

.CalendarDay,
.CalendarDay:hover {
  border: none;
  border-radius: 50%;
}

/* 指定した日付範囲の開始日・終了日 */
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  // background: #3f51b5; /* 最も濃い青 */
  background: #ddd; /* グレー */
}

/* 指定した日付範囲の開始日+1 ~ 終了日-1 */
.CalendarDay__selected_span,
.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #737fc4; /* 少し濃いめの青 */
}

/* 日付範囲の終了日を指定中 */
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  color: #fff;
  background: #a2aad6; /* 薄めの青 */
}

/* DatePickerに影をつける */
.DayPicker {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/**
  * 日記が存在する日にちに色をつける
  * 日記の単語数によって色の濃淡を変える
*/
.exist_date {
  // background-color: $light_beige;
  color: #fff;
  background-color: #c0eb90;
}

.min_length {
  // background-color: $dark_beige;
  background-color: #809e5f;
}

.middle_length {
  // background-color: $light_brown;
  background-color: #5d7544;
}

.more_length {
  // background-color: $dark_brown;
  background-color: #354227;
}

.max_length {
  // background-color: aqua;
  background-color: #549b08;
}